<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja</title>
</head>
<body>
    <center>
        <div style="height:500px; width:500px; background-color:burlywood">
            <h1>if</h1>
            <h1>{{name}}</h1>
            {% if age > 18 %}
                <h2>if block</h2>
                <h1>His age is {{age}}</h1>
            {% endif %}
            <h1>He is from {{state}}</h1>
        </div>
    </center>
</body>
</html>