<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div style="height:500px; width:500px; background-color:burlywood">
            <h1>Nested If </h1>
            {% if a > b %}
            <h2>if</h2>
                {% if a > c %}
                <h3>if</h3>
                <h1> a is max {{a}}</h1>
                {% else %}
                <h3>else</h3>
                <h1> c is max {{c}} </h1>
                {% endif %}
            {% else %}
            <h2>else</h2>
                {% if b > c %}
                <h3>if</h3>
                <h1>b is max {{b}}</h1>
                {% else %}
                <h3>else</h3>
                <h1>c is max {{c}}</h1>
                {% endif %}
            {% endif %}
        </div>
    </center>
</body>
</html>